<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hexadoku Solver</title>
    </head>
    
    <body>
        <h1>Hexadoku Solver</h1>
        <h3>Option 1: Upload Text File with Unsolved Hexadoku Board</h3>
        
        <h3>Option 2 (COMING SOON): Upload Image of Hexadoku Board</h3>
        <form action="" method=POST enctype="multipart/form-data">
            <input type=file name=file>
            <input type="submit" value="Upload">
        </form>

    </body>
</html>